USE [master]
GO
/****** Object:  Database [VideoRental_Fr]    Script Date: 5/11/2020 5:57:45 PM ******/
CREATE DATABASE [VideoRental_Fr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoRental_Fr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoRental_Fr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoRental_Fr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoRental_Fr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoRental_Fr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoRental_Fr]
GO
/****** Object:  Table [dbo].[tblcustomer]    Script Date: 5/11/2020 5:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcustomer](
	[Id_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
 CONSTRAINT [PK_tblcustomer] PRIMARY KEY CLUSTERED 
(
	[Id_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMovie]    Script Date: 5/11/2020 5:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMovie](
	[Id_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Ranking] [varchar](50) NULL,
	[Year] [int] NULL,
	[Cost] [int] NULL,
	[Copies] [int] NULL,
	[Plot] [varchar](50) NULL,
	[Genre] [varchar](50) NULL,
 CONSTRAINT [PK_tblMovie] PRIMARY KEY CLUSTERED 
(
	[Id_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRental]    Script Date: 5/11/2020 5:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRental](
	[Id_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Cid_Fk] [int] NULL,
	[Mid_Fk] [int] NULL,
	[MissueDate] [varchar](50) NULL,
	[mReturnDate] [varchar](50) NULL,
 CONSTRAINT [PK_tblRental] PRIMARY KEY CLUSTERED 
(
	[Id_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
